{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Recipes</title>
    </head>

    {% if not current_recipe %}
        <div class="container">

            <h1>My Recipes</h1>
            <div style="text-align: center;">
                <h2>There are no recipes.</h2>

                {% else %}
                {% for item in current_recipe %}
                    <div class="items-container">
                    <div class="item">
                    <h2>{{ item.title }}</h2>
                    <img class="detail-img" src="{{ item.image_url }}"
                         alt="recipe-image">
                    <div class="recipe-info">
                        {{ item.description }}
                    </div>
{#                    <hr>#}

                <div class="buttons-container">
                    <a class="button detail" href="{% url 'details recipe' item.pk %}">Details</a>
                    <a class="button edit" href="{% url 'edit recipe' item.pk %}">Edit</a>
                    <a class="button delete" href="{% url 'delete recipe' item.pk %}">Delete</a>
                </div>
                </div>

                </div>

            </div>
        </div>
                {% endfor %}
    {% endif %}

{% endblock %}