{% extends 'base/base.html' %}
{% block page_content %}

    <!-- Dashboard Page-->
    <section id="dashboard-page" class="dashboard">
        <h1>Dashboard</h1>
        <!-- Display paragraph: If the user doesn't have any books  -->
        {% if not books %}
            <p class="no-books">No books in database!</p>
            <!-- Display ul: with list-items for every books if any -->
        {% endif %}


        <ul class="my-books-list">
            {% for bo in books %}
                <li class="myBooks">
                    <h3>{{ bo.ttile }}</h3>
                    <p>Type: {{ bo.type }}</p>
                    <p class="img"><img src="{{ bo.image }}" alt="Image loading ..."></p>
                    <a class="button" href="{% url 'book details page' bo.pk %}">Details</a>
                </li>
                {% if forloop.counter|divisibleby:"3" %}
                    </ul>
                {% endif %}
            {% endfor %}
    </section>
{% endblock %}