{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<!--Edit Page-->
<section class="editPage">
    <form method="POST" action="{% url 'album edit' album.pk %}" enctype="multipart/form-data">
        <fieldset>
            <legend>Edit Album</legend>
            <div class="container">

                <!-- Form for Editing Album -->
               {% csrf_token %}
                {{ form }}
                <!-- Button for Editing Album -->
                <button class="edit-album" type="submit">Edit Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}