{% extends 'base.html' %}
{% block page_content %}

    {% if pet_photos %}
    <!-- If there are pet photos -->
    <h1 class='text-center'>All Pet Photos</h1>
    <div class="container mb-5">
        <div class="row mb-5">

            <!-- First Card with Info for the Pet -->
            {% for pp in pet_photos %}
            <div class="card ml-3 mb-3" style="width: 18rem;">
                <!-- Image -->
                <img src="{{ pp.pet_picture }}"
                     class="card-img-top" alt="Photo description">
                <div class="card-body">
                    <!-- Info for each pet on the photo -->
                    {% for pet in pp.tagged_pets.all %}
                    <h5 class="card-title">{{ pet.name }}
                        {% if pet.date_of_birth %}
                          {{ pet.age }}
{#                        {{ pet.date_of_birht|years_to_now }} ->> create filter or use property in Pet#}
                        {% endif %}
                    </h5>
                    {% endfor %}
                    <!-- First 30 chars from the description -->
                    <p class="card-text">{{ pp.description|truncatechars:30 }}</p>
                    <!-- Button to the Photo Details Page -->
                    <a href="{% url 'pet photo details' pp.id %}" class="btn btn-primary">See details</a>
                </div>
            </div>
            <!-- End First Card -->
            {% endfor %}

        </div>
    </div>
    <!-- End Pet Photos -->
    {% else %}
     <!-- If there are NO pet photos -->
            <h1 class='text-center'>No pet photos yet</h1>
    {% endif %}
    <div class=" row d-flex justify-content-center align-content-center"></div>
        <!-- Button to Add a new Photo -->
        <a href="{% url 'add pet' %}" class="btn btn-lg btn-secondary row align-self-baseline">Add Photo</a>
{% endblock %}